#bookingpage td {  
	vertical-align: top;
}

 #bookingpage .sectionHeader { /* 5500 */
	font-size: 2em;
	font-weight: bold;
} */

#bookingpage ul { /* 6000 */
	padding: 0px;
}

#bookingpage li { /* 6000 */
	list-style-type: none;
}

#bookingpage .itemdescriptioncell p { /* 6000 */
	margin: 0px;
}

#bookingpage .errorText, #bookingpage .errorText p { /* 6000 */
	color: red;
	font-weight: bold;
}

#bookingpage #Introduction { /* 6000 */
	font-style: italic;
}

#bookingpage #BodyTitle { /* 6000 */
	font-size: 2.5em;
	font-weight: bold;
}

#bookingpage #Addendum { /* 6000 */
	font-style: italic;
}

#language_choice_link {display:none;position:fixed;top:10px;right:10px;border: 1px solid black;padding:5px;}

body {
           font-family: Arial;
           margin:40px auto;
           max-width:650px;
           line-height:1.6;
           font-size:18px;
           color:#444;
           padding:0 10px
}

th, td {
  padding-top: 20px;
}
input[type=text] {
 	width: 100% 
}

body {
	background-color: #F1F5F7
}
